<h1>Home</h1>

@{
	var myViewData = new ViewDataDictionary(ViewData);
	myViewData["ListTitle"] = "Countries";
	myViewData["ListItems"] = new List<string>()
	{
		"USA",
		"Canada",
		"Japan",
		"Germany"
	};
}

<partial name="_ListPartialView" view-data="myViewData"></partial>