<h1>Home</h1>

@{

	ListModel listModel = new ListModel();
	listModel.ListTitle = "Countries";
	listModel.ListItems = new List<string>()
	{
		"USA",
		"Canada",
		"Japan",
		"Germany"
	};
}

<partial name="_ListPartialView" model="listModel"/>
@* *@
@* @{ *@
@* 	var myViewData = new ViewDataDictionary(ViewData); *@
@* 	myViewData["ListTitle"] = "Countries"; *@
@* 	myViewData["ListItems"] = new List<string>() *@
@* 	{ *@
@* 		"USA", *@
@* 		"Canada", *@
@* 		"Japan", *@
@* 		"Germany" *@
@* 	}; *@
@* } *@
@* *@
@* <partial name="_ListPartialView" view-data="myViewData"></partial> *@