@using WeatherApp.Models
@model List<CityWeather>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Weather App</title>
	<link href="Stylesheet.css" rel="stylesheet"/>
</head>
<body>
<div class="page-container">
	@foreach (CityWeather city in Model)
	{
		<div class="city-container">
			<div class="left-box">
				<h3>@city.CityName</h3>
				<p>@city.DateAndTime</p>
				<a href="/single-city/@city.CityUniqueCode">Details</a>
			</div>
			<div class="right-box">
				<h2>@city.TemperatureFahrenheit</h2>
			</div>
		</div>
	}
</div>
</body>
</html>	