@using WeatherApp.Models
@model CityWeather

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Single City</title>
	<meta charset="UTF-8" />
	<link href="Stylesheet.css" rel="stylesheet" />
</head>
<body>

</body>
</html>