<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/Stylesheet.css" rel="stylesheet" />
</head>
<body>
<div class="container">
	<div class="header">
		ASP.NET CORE LAYOUT DEMO
	</div>
</div>

<div>
	@RenderBody()
</div>

</body>
</html>