* {
    margin: 0;
    padding: 0;
}

.page-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-container{
    height: 10%;
    width: 20%;
    display: flex;
    border: 2px solid black;
    margin: 5px;
}

.left-box{
    width: 50%;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.right-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}