@model ListModel

@* <div class="list-container"> *@
@* 	<h3>@ViewData["ListTitle"]</h3> *@
@* 	<ul class="list"> *@
@* 		@foreach (string city in (IEnumerable<string>)ViewData["ListItems"]) *@
@* 		{ *@
@* 			<li>@city</li> *@
@* 		} *@
@* 	</ul> *@
@* </div> *@

@{
	//WE HAVE CONVERTED THIS PARTIAL VIEW INTO A STRONGLY TYPED VIEW.
	//BELOW, WE HAVE ACCESS TO THE MODEL DATA THAT IS PASSED FROM THE PARENT VIEW.
}

<div class="list-container">
	<h3>@Model.ListTitle</h3>
	<ul class="list">
		@foreach (string item in Model.ListItems)
		{
			<li>@item</li>
		}
	</ul>
</div>