<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<h1 class="heading">Weather</h1>
<div class="page-container">
@RenderBody()
</div>

</body>
</html>