<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
<h1>Weather</h1>
<div class="page-container direct-col">
	@RenderBody()

</div>

</body>
</html>