@{
	ViewData["Title"] = "Search Page";
	
	//SETTING LAYOUT VIEWS DYNAMICALLY
	if (ViewBag.ProductID != null)
	{
		//THE BELOW LAYOUT WILL OVERRIDE THE GLOBAL _ViewStart LAYOUT
		Layout = "_ProductsLayout";
	}
	
	
	
}

<h1>Search for Products</h1>
<p>This is search for products page</p>