<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/stylesheet.css" rel="stylesheet"/>
	<meta charset="UTF-8"/>
</head>
<body>
<h1 class="heading">Weather App With Partial Views</h1>
<div class="page-container">
	@RenderBody()
</div>


</body>
</html>